<!DOCTYPE html>
<html lang="{{ app.request.locale|default('fr') }}">
<head>
    {% block metas %}{% include '@Blurp/partials/meta.html.twig' %}{% endblock %}

    <title>{% block title %}{{ controller_name|default('Page Title') }}{% endblock %} - {{ metas.title }}</title>

    {% block favicons %}{% include '@Blurp/partials/favicon.html.twig' %}{% endblock %}

    {% block stylesheets %}
    <!-- Stylesheets -->
    {% endblock %}
    <!-- Libraries -->
    <link rel="stylesheet" href="{{ asset('bundles/blurp/themes/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/blurp/libraries/fontawesome/7.0.1/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/blurp/libraries/scroll-to-top-button/dist/jquery-backToTop.min.css') }}">
    <!-- main css -->
    <link rel="stylesheet" href="{{ asset('bundles/blurp/themes/css/site.min.css') }}">
</head>
<body{% block body %} class="theme-red font-roboto"{% endblock %}>

{% block main %}

{#{% include '@Blurp/partials/loader.html.twig' %}#}

{% include '@Blurp/partials/theme.html.twig' %}

<!-- Overlay For Sidebars -->
<div class="overlay"></div>

<div id="wrapper">
    {% block notification %}{% include '@Blurp/partials/alert.html.twig' %}{% endblock %}

    {% block navbar %}{% include '@Blurp/partials/header.html.twig' %}{% endblock %}

    {% block search %}{% include '@Blurp/partials/search.html.twig' %}{% endblock %}

    {% block megamenu %}{% include '@Blurp/partials/mega-menu.html.twig' %}{% endblock %}

    {% block rightbar %}{% include '@Blurp/partials/right-sidebar.html.twig' %}{% endblock %}

    {% block leftbar %}{% include '@Blurp/partials/left-sidebar.html.twig' %}{% endblock %}

    <div id="main-content">
        <div class="{% block container %}{{ container|default('container-fluid') }}{% endblock %}">
            {% include '@Blurp/partials/breadcrumb.html.twig' %}
            {% block content %}{% endblock %}
        </div>
    </div>

</div>
{% endblock %}

{% block javascripts %}
{% endblock %}
{# importmap #}
{% block importmap %}{{ importmap('app') }}{% endblock %}
<!-- Scripts -->
<script src="{{ asset('bundles/blurp/themes/bundles/libscripts.bundle.js') }}"></script>
<script src="{{ asset('bundles/blurp/themes/bundles/vendorscripts.bundle.js') }}"></script>
<script src="{{ asset('bundles/blurp/themes/bundles/mainscripts.bundle.js') }}"></script>
<!-- Libraries -->
{# jQuery #}
{# <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> #}
{# back to top #}
<script src="{{ asset('bundles/blurp/libraries/scroll-to-top-button/dist/jquery-backToTop.min.js') }}"></script>
{# clipboard #}
<script src="{{ asset('bundles/blurp/libraries/clipboardjs/clipboard.2.0.11.min.js') }}"></script>
{# font awesome #}
{# <script src="{{ asset('bundles/blurp/libraries/fontawesome/7.0.1/js/all.min.js') }}"></script> #}

<script>
{# back to top #}
// var $button = $.backToTop();
var $button = $.backToTop({
    // background color
    backgroundColor: '#090909',
    // text color
    color: '#FFFFFF',
    // container element
    container: this._body,
    // 'nonn', 'spin', 'fade', 'zoom', or 'spin-inverse'
    effect: 'spin-inverse',
    // enable the back to top button
    enabled: true,
    // width/height of the back to top button
    height: 80,
    width: 80,
    // icon
    icon: 'fas fa-chevron-up',
    // margins
    marginX: 40,
    marginY: 40,
    // bottom/top left/right
    position: 'bottom right',
    // trigger position
    pxToTrigger: 600,
    // scroll animation
    // scroll<a href="https://www.jqueryscript.net/animation/">Animation</a>: 0,
    // or 'fawesome'
    theme: 'default',
    // z-index
    zIndex: 999
});

{# clipboard #}
let Clipboard = new ClipboardJS('button.clipboardjs');
Clipboard.on('success', function (e) {
    console.info('Action:', e.action);
    console.info('Text:', e.text);

    e.clearSelection();
});

Clipboard.on('error', function (e) {
    console.error('Action:', e.action);
    console.error('Trigger:', e.trigger);
});

</script>
</body>
</html>
